.SingleSpell a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    background-color: rgba(200, 200, 200, 0.75);
    position: fixed;
}

.SingleSpell {
    margin: 10px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.SingleSpell-header {
    width: 80%;
    margin: 0 auto;
}

.SingleSpell-body {
    margin: 0 auto;
    width: 80%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.SingleSpell-foot {
    border-top: 2px solid rgba(200, 0, 0, 0.5);
    border-bottom: 1px solid rgba(100, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
}

.SingleSpell-name {
    text-align: center;
}

span {
    margin-left: 5px;
    margin-right: 5px;
}