 input {
    /* margin-top: 10px;
    margin-bottom: 10px; */

    /* -webkit-appearance: none; */
    font-size: 2em;
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Berthold Baskerville';
}